<h1>マイページ</h1>

<%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: "profile_image is-rounded" %>

<%= @user.username %>

<% if @user.id == current_user.id %>

<%= @user.email %>

<%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>

<% end %>

<%= @user.profile %>


<% @user.rooms.each do |room| %>
<%= attachment_image_tag room, :room_image %>
<%= link_to "詳細", room_path(room) %>

<% if @user.id == current_user.id %>
<%= link_to "編集", edit_room_path(room) %>
<%= link_to "削除", room_path(room), method: :delete, data: {confirm: "削除しますか？"} %>
<% end %>
更新日時：<%= room.updated_at.strftime("%Y-%m-%d %H:%M") %>
<% end %>




