
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="card-header bg-transparent font-weight-bold">
        <h1 class="loginTitle font-weight-bold">ログイン</h1>
    </div>
    <div class="card-body loginContainer">
        <div class="form-label-group">
            <label class="label"><%= f.label :email %></label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="form-label-group">
            <label class="label"><%= f.label :password %></label>
            <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div class="card-footer bg-transparent text-center">
          <% if devise_mapping.rememberable? %>
            <div class="field rememberContainer">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>
        <%= f.submit "Log in" %>
<% end %>


        </div>



